body {
    padding-top: 0px; 
    width:1330px;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color:ghostwhite;
    border-bottom:0px;
    padding-bottom:0px;
}
.navbar {
    margin-bottom:0px;
    border:none;
}
.nav.navbar-nav.navbar-right a{
    color:ghostwhite;
    font-family: 'Cabin', sans-serif;
}
.container-fluid {
    background-color:#747F7F;
}
.jumbotron {
    padding-top:0px;
    padding-bottom:0px;

    border-top:0px;
    margin-bottom:0px;
    height:348px;
}
img#firstPic.img-responsive {
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    
    
}
.col-md-9 {
    padding-right:0px;
    padding-left:0px;
}
.col-md-3 {
    padding-right:0px;
    padding-left:0px;
}
h1 {
    position:absolute;
    top:50px;
    left:150px;
    margin-top:25px;
    color:ghostwhite !important;
    font-family: 'Cabin', sans-serif;
}
p {
    position:absolute;
    top:140px;
    left: 165px;
    color:ghostwhite;
    font-family: 'Cabin', sans-serif;
}
img#Versilia.img-responsive {
    padding:0px 0px 0px 0px;
    position:absolute;
    max-width:none;
    max-height:none;
}
div.col-md-9 {
    width:inherit;
}
.locations {
    position:relative;
    height:150px;
    background-color:#747F7F;
}
h2 {
    font-family: 'Karla', sans-serif;
    color:ghostwhite;
    margin:0px;
        
}
h3{
    font-family: 'Karla', sans-serif;
    color:ghostwhite;
    margin:0px;
}
h3#location1 {
    color:black;
    font-family: 'Karla', sans-serif;
}

h6{
    font-family: 'Karla', sans-serif;
}
#reserveNow1{
    font-family: 'Karla', sans-serif;
    
}
.row{
    padding:50px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}
#secondRow {
    background-color:#747F7F;
}
#secondRow h6 {
    color:ghostwhite;
}
h3#location3 {
    color:black;
    font-family:'Karla',sans-serif;
}
h2#Villa {
    color:#747F7F;
    font-family: 'Karla', cursive;
}
#villabox {
    padding:50px 10px 0px 10px;
}
div.carousel-inner {
    height: 150px;
    background-color: lightgray;
    padding:40px;
}
div#gridRow.row{
    
}
div#gridRow2.row{
    padding:0px 0px 0px 0px;
}
div#gridRow3.row{
    padding:0px 0px 50px 0px;
}

.Footer {
    background-color:#747F7F;
    height:200px;
}
.Footer h5{
    color:white;
    align-content:center;
    font-family: 'Karla', cursive;
  
}
span.glyphicon.glyphicon-arrow-up {
    color:white;
}
#gridBox.container {
    margin-right:0px !important;
    margin-left:230px;
    padding-right:0px;
    padding-left:0px;
}
img#locationImages.img-responsive {
    padding-bottom:50px;
}
label.control-label.col-sm-2 {
    font-family: 'Karla', cursive;
}


