body {
    padding-top: 0px; 
}
.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color:ghostwhite;
    border-bottom:0px;
    padding-bottom:0px;
}
.navbar {
    margin-bottom:0px;
    border:none;
}
.nav.navbar-nav.navbar-right a{
    color:ghostwhite;
    font-family: 'Cabin', sans-serif;
}
.container-fluid {
    background-color:#747F7F;
}
.jumbotron {
    padding-top:0px;
    padding-bottom:0px;
    border-top:0px;
    margin-bottom:0px;
    height:348px;
}
#firstPic {
    position:relative;
    height:348px;
}
h1 {
    position:absolute;
    top:50px;
    left:150px;
    margin-top:25px;
    color:ghostwhite !important;
    font-family: 'Cabin', sans-serif;
}
p {
    position:absolute;
    top:140px;
    left: 165px;
    color:ghostwhite;
    font-family: 'Cabin', sans-serif;
}
#Versilia {
    position:absolute;

}
.locations {
    height:150px;
    background-color:#747F7F;
}
h2 {
    font-family: 'Karla', sans-serif;
    color:ghostwhite;
    margin:0px;
        
}
h3{
    font-family: 'Karla', sans-serif;
    color:ghostwhite;
    margin:0px;
}
h3#location1 {
    color:black;
    font-family: 'Karla', sans-serif;
}

h6{
    font-family: 'Karla', sans-serif;
}
.reserveNow1{
    font-family: 'Karla', sans-serif;
    
}
.row{
    padding-left:30px;
    padding-top:50px;
    padding-right:30px;
    padding-bottom:50px;
}
#secondRow {
    background-color:#747F7F;
}
#secondRow h6 {
    color:ghostwhite;
}
h3#location3 {
    color:black;
    font-family:'Karla',sans-serif;
}


